<div class="nav-wrapper">
  <nav class="nav-content">
    <ul>
      <li>
        <a
          role="button"
          class="outline"
          routerLink="posts"
          routerLinkActive="activebutton"
          >Posts</a
        >
      </li>
      <li>
        <a
          role="button"
          class="outline"
          routerLink="search"
          routerLinkActive="activebutton"
          >Search</a
        >
      </li>
    </ul>
    <ul>
      <li>
        <small
          ><a routerLink="auth" routerLinkActive="activebutton"
            >Anmelden</a
          ></small
        >
      </li>
      |
      <li>
        <small
          ><a routerLink="sign-in" routerLinkActive="activebutton"
            >Registrieren</a
          ></small
        >
      </li>
    </ul>
  </nav>
</div>
