<div class="nav-wrapper">
  <nav class="nav-content">
    <ul>
      <li>
        <a routerLink="posts" routerLinkActive="activebutton">Posts</a>
      </li>
      |
      <li>
        <a routerLink="search" routerLinkActive="activebutton">Search</a>
      </li>
    </ul>
    <a routerLink="/" class="nav-logo-link">
      <img src="../../../../assets/images/logo_nav.png" class="nav-logo">
    </a>
    <ul *ngIf="!isLoggedIn">
      <li>
        <small
          ><a routerLink="auth" routerLinkActive="activebutton">Login</a></small
        >
      </li>
      |
      <li>
        <small
          ><a routerLink="sign-in" routerLinkActive="activebutton"
            >Register</a
          ></small
        >
      </li>
    </ul>
    <ul *ngIf="isLoggedIn">
      <li>
        <small
          ><a (click)="logout()" routerLinkActive="activebutton">Logout</a></small
        >
      </li>
    </ul>
  </nav>
</div>
