
.nav-wrapper {
  background-color: #f2f4f9;
  height: 12vh;
}

.nav-content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 60%;
  height: 100%;
}

a {
  padding: 0.3rem 0.7rem;
  font-size: 0.7rem;
}

.nav-logo {
  max-height: 80%;
  margin: 0 1rem;
}
