<style>
  .responsive23-5Crzy3CjZOgiEE5S-choro-coronavirus-live-karte {
    width: 100%;
    padding-top: 100%;
  }
  @media (max-width: 800px) {
    .responsive23-5Crzy3CjZOgiEE5S-choro-coronavirus-live-karte {
      padding-top: 66.67%;
    }
  }
  @media (max-width: 600px) {
    .responsive23-5Crzy3CjZOgiEE5S-choro-coronavirus-live-karte {
      padding-top: 76.92%;
    }
  }
  @media (max-width: 300px) {
    .responsive23-5Crzy3CjZOgiEE5S-choro-coronavirus-live-karte {
      padding-top: 142.86%;
    }
  }
</style>
<div
  id="container23-5Crzy3CjZOgiEE5S-choro-coronavirus-live-karte"
  class="responsive23-5Crzy3CjZOgiEE5S-choro-coronavirus-live-karte"
  style="position: relative"
>
  <iframe
    title="Weltweite Fälle des Corona-Virus – Live Karte"
    src="https://app.23degrees.io/embed/5Crzy3CjZOgiEE5S-choro-coronavirus-live-karte"
    allow="fullscreen"
    style="
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    "
  ></iframe>
</div>
<script src="https://app.23degrees.io/services/public/embed-code/5Crzy3CjZOgiEE5S-choro-coronavirus-live-karte"></script>
